.dateContainer {
  width: 100% !important;
}
@media (min-width: 501px) {
  .dateInput {
    width: 100%;
    min-width: 648px;
    border: 1px solid #bfccd6;
    border-radius: 4px;
    background-color: #f5f8fa;
    height: 35px;
    font-size: 12px;
    padding: 0px 15px;
  }
}

@media (max-width: 500px) {
  .dateInput {
    max-width: 500px;
    width: 100%;
    border: 1px solid #bfccd6;
    border-radius: 4px;
    background-color: #f5f8fa;
    height: 35px;
    font-size: 12px;
    padding: 0px 15px;
  }
}
